@charset "UTF-8";

body {
    background-color: #E8E8E8;
    height: 1200px;
}

header{
	background: linear-gradient( 90deg,#BDBDBD,#2E2E2E);
	padding: 36px;
	position: fixed;
	top: 0px;
	left: -1px;
	width: 100%;
	border-bottom: 1px solid white;
	z-index: 1;
}

header img#logo{
	position: absolute;
	width: 100px;
	top: 0px;
	left: 10px;
}

header nav.menu{
	display: block;
    position: absolute;
    top: 10px;
    left: 650px;
    color: white;
}

header nav.menu ul{
	list-style: none;
}

header nav.menu li{
	display: inline-block;
	font-size: 18px;
	font-family: 'Roboto Slab';
	font-weight: 300;
}

header nav.menu a{
	color:  rgba(255,255,255,0.85);
    transition: color 0.5s;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 10px;
    width: 100px;
    line-height: 1px;
    text-shadow: 0.1 0.1 black;
}
header nav.menu a:hover {
	color: #FACC2E;
}

img#fotoFundo {
	position: absolute;
	left: -2px;
	top: 70px;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 0;
}

img#logoCentro {
	position: absolute;
	top: 80px;
	left: 300px;
	width: 30%;
	height: 30%;
	z-index: 0.8;
	border-radius: 50%;
	opacity: 0.75;
}

div#botoes {
	position: absolute;
	z-index: 0.8;
	top: 500px;
	right: 400px;
}

div#botoes ul{
    list-style: none;
}

div#botoes li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 100px;
}

div#botoes a {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Open Sans Condensed';
    text-decoration: none;
    color: green;
    transition: color 0.5s;
}

div#botoes a:hover {
	color: #FACC2E;
}

div#corpo {
    position: relative;
    top: 950px;
}

section {
	position: relative;
    display: block;
}

section h1 {
    color: #FACC2E;
    text-align: center;
    font-family: 'Roboto Slab', Arial;
    font-size: 40px;
    margin-bottom: 30px;
	margin-top: 30px;
	padding-top: 70px;
}

section p {
	color:  black;
	padding: 5px 50px 5px 50px;
	font-family:  'Open Sans Condensed', sans-serif;
	font-size: 25px;
}

section h2 {
	font-size: 30px;
	font-family:  'Open Sans Condensed', sans-serif;
	padding: 15px 50px 15px 30px;
	text-align: center;
}

section#albumsSec ul{
	list-style: none;
}

section#albumsSec li{
    display: inline-block;
	text-align: center;
	font-size: 30px;
	font-family:  'Open Sans Condensed', sans-serif;
	padding: 5px 30px 5px 30px;
	margin: 0px 30px 0px 30px;
	min-width: 270px;
}

section#albumsSec img{
	max-height: 150px;
	max-width: 150px;
	border: 2px solid green;
}

#showsImg {
	position: relative;
	height: 300px;
	width: 700px;
	margin: 0px;
	padding-left: 320px;
	
	
}

section#contatoSec p {
	color:  black;
	padding: 5px 50px 5px 50px;
	font-family:  'Open Sans Condensed', sans-serif;
	font-size: 25px;
	text-align: center;
}

section#contatoSec a {
	font-size: 25px;
	font-family:  'Open Sans Condensed', sans-serif;
	text-decoration: none;
    color: green;
}

section#ContatoSocial {
	padding: 5px 50px 5px 50px;
    text-align: center;
}
form {
    position: relative;
    display: inline-block;
    width: 500px;
    left: 65px;
    margin: 1em;
}

.campo {
	margin: 1em;
}

.campo label{
	margin-bottom: 0.2em;
	color: #666;
	display: block;
}

.campo input[type="text"],
.campo input[type="email"],
.campo textarea{
	padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo input:focus, .campo textarea:focus{
	background: #FFC;
}

.botao {
    font-size: 1.5em;
    background: #FACC2E;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
    position: relative;
    left: -140px;
    padding: 5px 50px 5px 50px;
}

.botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}